<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Express App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
  </head>
  <body>
    <nav>
      <div><a href="/">Home</a></div>
      <div><a href="/about">About</div>
        <div><a href="/api/getAlbums">Get albums</a></div>
        <div><a href="/api/getAlbum/8">Get Single Album</a></div>
        <div><a href="/api/getUserAlbum?userId=7">Get Album data by UserId</a></div>
    </nav>
  </body>
</html>
